body{
  background-color: #011627;
  margin:0 0 0 0;
  }

p.p1{
  text-align: justify;
  margin:70px 10px 10px 10px;
  font-weight: normal;
}
p.p2{
  text-align: justify;
  margin:30px 10px 10px 10px;
  font-weight: normal;
}
span.copyright{
    font-weight: normal;
    font-size: 13px;
}
p.text{
  color: #d6ab93;
  font-weight: normal;
  font-style: italic;
  font-size: 15px;
  text-align: justify;
  margin:0px 0px 0px 00px;
  line-height: 0px;
}
ul.ddd{
  background-color: #ffffff;
  float: left;
  padding: 0px;
  margin-left: 20px;
  margin-right: 10px;
  font-weight: normal;
  line-height: 20px;
}
li.lll{
  background-color: #ffffff;
  display: list-item;
  padding: 0px 0px 0px; 
  position: left;
  text-align: justify;
}
p{
  font-size: 15px;
  text-align: justify;
  margin:75px 10px 10px 10px;
  line-height: 20px;
  }
p:first-letter {
  float: left;
  font-size: 55px;
  line-height: 1;
  font-weight: bold;
  margin-right: 8px;
  }

article {
  max-width: 700px;
  padding: 5px;
  margin: 0 auto;
  }
header {
  text-align: center;
  background: url('https://raw.githubusercontent.com/HPChicago/HPChicago.github.io/master/img/tuscany-sunrise.jpg');
  background-size: cover;      
  color: white;
  }
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
  }
li {
  display: inline;
  padding: 0px 40px 0px;
  }
a {
  color: white;
  text-decoration: none;
  }
a.reg{
  font-style: italic;
  color:black;
  float: right;
}
a.reg:hover{
  color:white;
  background-color:black;
}
img{
  margin: 0 0 0 0;
  }
span.quote{
  color: #d6ab93;
  font-weight: normal;
  font-style: italic;
}
span.quote:hover {
  color: white;
}
a.menu:hover{
  color: black;
  background-color: white;
}
span.col1{
max-width: 400px;
}

